[user]
        name = 
        email = 
[alias]
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
    next = commit --no-verify --no-edit && git rebase --continue
    co = checkout
    st = status
    df = diff
    br = branch
    ci = commit
    last = log -1 HEAD
    pnfw = push origin HEAD --force-with-lease --no-verify
    pfw = push origin HEAD --force-with-lease
    pullr = pull --rebase origin
    ph = push origin HEAD
    rbc = rebase --continue
[rerere]
    enabled = true
[hub]
    host = 
[core]
	excludesfile = ~/.localgitignore

[gitreview]
 remote = origin
